@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

::selection {
  color: white;
  background-color: $secondary;
}

::placeholder {
  font-size: 14px;
}

body {
  line-height: 1.5;
}

a {
  display: block;
}

button:focus {
  outline: none;
}
